html{
  margin: 0;
  padding: 0;
}

body{
  color: #f1c40f;
  background-color: #212121;
  font-family: 'Monda', sans-serif;
}
h1{
  font-size: 4em;
}

.guildScore{
  font-size: 7em;
}



button{
  font-weight: bold;
  width:3em;
  height:3em;
  font-size: 4em;
  border:none;
  margin: 1em;
  margin-top: 0em;
  border-radius: 50%;
  background-color: #ecf0f1;
  color: #f1c40f;
}

.addScore:hover{
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #01B4F0;
  color:white;
  -webkit-transition-property: #01B4F0;
  transition-property: #01B4F0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.decScore:hover{
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #e74c3c;
  color:white;
  -webkit-transition-property: #01B4F0;
  transition-property: #01B4F0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

}

.guildView{
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.guildInfo{
  text-align: center;
  border-top: #ecf0f1 1px solid;
  border-bottom: #ecf0f1 1px solid;
}

.pageFooter{
  display: inline-block;
  position: fixed;
  bottom:0px;
  width: 100%;
  height: 3em;
  background-color: #f1c40f;
  color: #212121;
  left:0px;
}
.pageFooter p{
  padding: 0px;
}
.navi{
  padding: 0px;
  margin: 0px;
  margin-left: 2em;
  display: inline-block;
}

.copyright{
  margin: 1em;
  float: right;
  display: inline-block;
  right: 0px;
}

.pageFooter a{
  text-decoration: none;
  color: #212121;
}

.situationView{
  width: 40%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.pageFooter a:hover{
  color: #ecf0f1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.listedGuild{
  margin: 1em;
  margin-left: 5em;
}


.vaadinSponsor{
  margin-top: 2em;
  border-top: #ecf0f1 1px solid;
  width: 40%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.vaadinLogo{
  width: 100%;
}

.sponsorContainer{
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.vaadinGame{
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 20%;
  margin-bottom: 2em;
  display: inline-block;
  vertical-align: middle;
}

.currentScore{
  /*margin-left: 5em;*/
  text-align: center;
}

.currentScore a{
  text-decoration: none;
  color: white;
}
.currentScore td{
  width: 6em;
}
.currentScore th{
  color: white;
  text-decoration: underline;
}

.guildList_points{
  text-align: center;
}
.guildList_names{
  text-align: left;
  color: white;
}

#vaadinName{
  color: white;
  font-family: 'Fredoka One', cursive;
}
